/* -- Used on all sites -- */
:root {
  --bg-color: rgb(20, 20, 20);
  --screen1-rgb: 255 98 127;
  --screen2-rgb: 238 164 127;
  --screen3-rgb: 229 166 248;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0px;
  width: 100vw;
}

body[data-nav="true"] > main {
  transform: translateY(-50%);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

body[data-nav="true"] > nav > #nav-links {
  transform: scale(1) translateY(0%);
}

body[data-nav="true"] > #nav-toggle {
  background-color: rgb(85, 130, 149);
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

main {
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
  width: 100vw;
  z-index: 2;
}

nav {
  bottom: 0px;
  height: 50vh;
  left: 0px;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

#nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  justify-content: center;
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: scale(0.9) translateY(70%);
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

#nav-links > .nav-link {
  text-decoration: none;
}

#nav-links > .nav-link > .nav-link-image {
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
  width: max(20vw, 400px);
}

#nav-links > .nav-link > .nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}


#nav-toggle {
  background-color: rgb(229, 166, 248);
  border: none;
  border-radius: 5rem;
  bottom: 3rem;
  cursor: pointer;
  height: 5rem;
  left: 50%;
  outline: none;
  position: fixed;
  transform: translateX(-50%);
  transition: background-color, transform;
  transition-duration: 400ms;
  transition-timing-function: ease;
  width: 5rem;
  z-index: 3;
}

#nav-toggle > i {
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: scale(0.9) translate(-50%, -50%);
  transition: opacity, transform;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

#nav-toggle:active {
  transform: scale(0.96) translateX(-50%);
}

#nav-toggle:hover {
  transform: scale(1.04) translateX(-50%);
}

.rubik-font {
  font-family: "Rubik", sans-serif;
}


/* -- landing Zone -- */

h1 {
  background-image: linear-gradient(200deg, rgb(138, 170, 229) 35%, rgb(229, 166, 248) 0%, rgb(252, 231, 125) 60%, rgb(255, 98, 103) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8vh;
  position: absolute;
  z-index: 10000;
}

#wrapper {
  aspect-ratio: 1.6;
  position: relative;
  width: 75vw;
}

#wrapper > .shape {
  background-color: var(--bg-color);
  height: 30%;
  position: absolute;
  transition: border-radius, height, left, top, width;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
  width: 30%;
}

#wrapper > .shape:nth-child(1) {
  background-color: #00539c;
  z-index: 2;
}

#wrapper > .shape:nth-child(2) {
  background-color: #EEA47FFF;
  z-index: 2;
}

#wrapper > .shape:nth-child(3) {
  background-color: #ff6267;
  z-index: 1;
}

#wrapper > .shape:nth-child(4) {
  background-color: #FCE77D;
  z-index: 2;
}

#wrapper > .shape:nth-child(5) {
  background-color: #E2D1F9;
  z-index: 2;
}

#wrapper > .shape:nth-child(6) {
  background-color: #317773;
  z-index: 2;
}

#wrapper > .shape:nth-child(7) {
  background-color: #8AAAE5;
  z-index: 2;
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {
  height: 50%;
  left: 0%;
  top: 0%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {
  height: 50%;
  left: 20%;
  top: 0%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {
  height: 100%;
  left: 50%;
  top: 0%;
  width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {
  height: 50%;
  left: 0%;
  top: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {
  height: 50%;
  left: 30%;
  top: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(6) {
  height: 50%;
  left: 70%;
  top: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(7) {
  height: 25%;
  left: 85%;
  top: 75%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  height: 80%;
  left: 25%;
  top: 20%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {
  height: 50%;
  left: 40%;
  top: 20%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {
  height: 100%;
  left: 50%;
  top: 0%;
  width: 25%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {
  height: 50%;
  left: 0%;
  top: 0%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {
  height: 70%;
  left: 10%;
  top: 0%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(6) {
  height: 80%;
  left: 75%;
  top: 10%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(7) {
  height: 60%;
  left: 90%;
  top: 40%;
  width: 10%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  height: 32%;
  left: 0%;
  top: 16.5%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(2) {
  height: 55%;
  left: 20%;
  top: 2.7%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {
  height: 100%;
  left: 38%;
  top: 0%;
  width: 62%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {
  height: 55%;
  left: 0%;
  top: 47.3%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {
  height: 32%;
  left: 34%;
  top: 56.4%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(6) {
  height: 55%;
  left: 66%;
  top: 45%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(7) {
  height: 32%;
  left: 80%;
  top: 68%;
  width: 20%;
}

#wrapper[data-roundness="1"] > .shape {
  border-radius: 6rem;
}

#wrapper[data-roundness="2"] > .shape {
  border-radius: 0rem;
}

#wrapper[data-roundness="3"] > .shape {
  border-radius: 30rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(1) {
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(2) {
  border-radius: 20rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(3) {
  border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(4) {
  border-bottom-right-radius: 10rem;
  border-top-right-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(5) {
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(6) {
  border-top-left-radius: 16rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(7) {
  border-top-left-radius: 10rem;
}

/* -- Project X -- */

@keyframes pan-image1 {  
  0% { /* 1st */
    background-position: 36% 42%;
    background-size: 200%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  
  20.0001% { /* 2nd */
    background-position: 60% 85%;
    background-size: 500%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }
  
  40.0001% { /* 3rd */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* 4th */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* 5th */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

@keyframes pan-image2 {  
  0% { /* 1st */
    background-position: 50% 40%;
    background-size: 250%;
  }
  
  20% {
    background-position: 40% 35%;
    background-size: 250%;
  }
  
  20.0001% { /* 2nd */
    background-position: 70% 90%;
    background-size: 400%;
  }
  
  40% {
    background-position: 55% 80%;
    background-size: 400%;
  }
  
  40.0001% { /* 3rd */
    background-position: 90% 45%;
    background-size: 300%;
  }
  
  60% {
    background-position: 92% 38%;
    background-size: 300%;
  }
  
  60.0001% { /* 4th */
    background-position: 10% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 20% 5%;
    background-size: 300%;
  }
  
  80.0001% { /* 5th */
    background-position: 90% 15%;
    background-size: 300%;
  }
  
  100% {
    background-position: 82% 20%;
    background-size: 300%;
  }
}

@keyframes pan-image3 {  
  0% { /* 1st */
    background-position: 30% 50%;
    background-size: 180%;
  }
  
  20% {
    background-position: 25% 45%;
    background-size: 180%;
  }
  
  20.0001% { /* 2nd */
    background-position: 65% 70%;
    background-size: 450%;
  }
  
  40% {
    background-position: 54% 65%;
    background-size: 450%;
  }
  
  40.0001% { /* 3rd */
    background-position: 85% 30%;
    background-size: 250%;
  }
  
  60% {
    background-position: 89% 25%;
    background-size: 250%;
  }
  
  60.0001% { /* 4th */
    background-position: 5% 0%;
    background-size: 250%;
  }
  
  80% {
    background-position: 12% 3%;
    background-size: 250%;
  }
  
  80.0001% { /* 5th */
    background-position: 85% 8%;
    background-size: 250%;
  }
  
  100% {
    background-position: 77% 12%;
    background-size: 250%;
  }
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

* {
  box-sizing: border-box;
}

#projectXYZ{
  flex-direction: row;
  gap: 2vw;
}

#screen {
  aspect-ratio: 10 / 16;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 500px;
  z-index: 10;
}

.screen1 {
  background-color: rgb(var(--screen1-rgb) / 15%);
  border: 3px solid rgb(var(--screen1-rgb) / 80%);
}

.screen2 {
  background-color: rgb(var(--screen2-rgb) / 15%);
  border: 3px solid rgb(var(--screen2-rgb) / 80%);
}

.screen3 {
  background-color: rgb(var(--screen3-rgb) / 15%);
  border: 3px solid rgb(var(--screen3-rgb) / 80%);
}

#screen:after,
#screen:before {
  background-color: white;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  translate: -50% 0%;
  z-index: 4;
}

#screen:before {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  top: 0rem;
  width: 15%;
}

#screen:after {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  bottom: 0rem;
  width: 25%;
}

.screen-overlay {
  animation: pan-overlay 22s infinite linear;
  left: 0px;
  top: 0px;
}

.screen-overlay1 {
  background: linear-gradient(
    rgb(var(--screen1-rgb) / 0.15),
    rgb(var(--screen1-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-size: 100% 9px;
}

.screen-overlay2 {
  background: linear-gradient(
    rgb(var(--screen2-rgb) / 0.15),
    rgb(var(--screen2-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-size: 100% 9px;
}

.screen-overlay3 {
  background: linear-gradient(
    rgb(var(--screen3-rgb) / 0.15),
    rgb(var(--screen3-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-size: 100% 9px;
}

#screen > .screen-image {
  background-position: 0% 0%;
  background-size: 300%;
  height: 100%;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.screen1 > .screen-image {
  animation: pan-image1 10s linear infinite;
  background-image: url("../images/Aboutscenery.jpg");
  filter: hue-rotate(160deg) sepia(10%);
}

.screen2 > .screen-image {
  animation: pan-image2 20s linear infinite;
  background-image: url("../images/scenery.jpeg");
  filter: hue-rotate(90deg) saturate(200%);
}

.screen3 > .screen-image {
  animation: pan-image3 15s linear infinite;
  background-image: url("../images/sunset.jpg");
  filter: saturate(120%);
}

#screen > .screen-content {
  align-items: center;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4rem;
  justify-content: flex-end;
  margin: 1rem;
  padding-bottom: 6rem;
  position: relative;
  z-index: 3;
}

.screen1 > .screen-content {
  border: 1px solid rgb(var(--screen1-rgb) / 50%);
}

.screen2 > .screen-content {
  border: 1px solid rgb(var(--screen2-rgb) / 50%);
}

.screen3 > .screen-content {
  border: 1px solid rgb(var(--screen3-rgb) / 50%);
}

#screen > .screen-content > .screen-icon {
  color: white;
  font-size: 4vw;
  text-shadow: 0px 0px 0.5rem white;
}

#screen > .screen-content > .screen-user {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

#screen > .screen-content > .screen-user:after,
#screen > .screen-content > .screen-user:before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0px;
}

.screen1 > .screen-content > .screen-user:after,
.screen1 > .screen-content > .screen-user:before {
  background-color: rgb(var(--screen1-rgb));
  box-shadow: 0px 0px 8px 3px rgb(var(--screen1-rgb) / 60%);
}

.screen2 > .screen-content > .screen-user:after,
.screen2 > .screen-content > .screen-user:before {
  background-color: rgb(var(--screen2-rgb));
  box-shadow: 0px 0px 8px 3px rgb(var(--screen2-rgb) / 60%);
}

.screen3 > .screen-content > .screen-user:after,
.screen3 > .screen-content > .screen-user:before {
  background-color: rgb(var(--screen3-rgb));
  box-shadow: 0px 0px 8px 3px rgb(var(--screen3-rgb) / 60%);
}

#screen > .screen-content > .screen-user:before {
  height: 2px;
  opacity: 0.75;
  translate: -20px -1rem;
  width: 50px;
}

#screen > .screen-content > .screen-user:after {
  height: 3px;
  translate: 26px calc(-1rem - 0.5px);
  width: 30px;
}

#screen > .screen-content > .screen-user > :is(.link, .name) {
  color: white;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  text-transform: uppercase;
}

#screen > .screen-content > .screen-user > .link {
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.3rem;
  opacity: 0;
  text-decoration: none;
  text-shadow: 0px 0px 0.5rem white;
  transition: 1.8s;
}

#screen:hover > .screen-content > .screen-user > .link {
  opacity: 0.8;
  transition: 1.8s;
}

#screen > .screen-content > .screen-user > .link:is(:focus, :hover) {
  text-decoration: underline;
}

#screen > .screen-content > .screen-user > .name {
  font-size: 3vw;
  font-weight: 400;
  position: relative;
}

#screen > .screen-content > .screen-user > .name:after,
#screen > .screen-content > .screen-user > .name:before {
  border: 2px solid white;
  border-radius: 2px;
  content: "";
  height: 4px;
  position: absolute;
  width: 4px;
}

#screen > .screen-content > .screen-user > .name:after {
  left: -1.5rem;
  top: 45%;
}

#screen > .screen-content > .screen-user > .name:before {
  right: -1.5rem;
  top: 55%;
}

/* -- The Wall of Art -- */

#gallery {
  position: relative;
  overflow: hidden;
  height: 140vmax;
  width: 140vmax;
}

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
  top: 0;
  left: 0;
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.tile > img {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
  width: 100%;
}

.tile:nth-child(1) {
  background-color: rgb(138, 170, 229);
  height: 14%;
  width: 20%;
  top: 5%;
  left: 5%;
}

.tile:nth-child(2) {
  background-color: rgb(229, 166, 248);
  height: 24%;
  width: 14%;
  top: 12%;
  left: 42%;
}

.tile:nth-child(3) {
  background-color: rgb(0, 83, 156);
  height: 18%;
  width: 16%;
  top: 34%;
  left: 12%;
}

.tile:nth-child(4) {
  background-color: rgb(238, 164, 127);
  height: 14%;
  width: 12%;
  top: 48%;
  left: 45%;
}

.tile:nth-child(5) {
  background-color: rgb(255, 98, 103);
  height: 16%;
  width: 32%;
  top: 70%;
  left: 8%;
}

.tile:nth-child(6) {
  background-color: rgb(252, 231, 125);
  height: 24%;
  width: 24%;
  top: 8%;
  left: 68%;
}

.tile:nth-child(7) {
  background-color: rgb(226, 209, 249);
  height: 16%;
  width: 20%;
  top: 74%;
  left: 50%;
}

.tile:nth-child(8) {
  background-color: rgb(49, 119, 115);
  height: 24%;
  width: 18%;
  top: 42%;
  left: 72%;
}

.tile:nth-child(9) {
  background-color: rgb(138, 170, 229);
  height: 10%;
  width: 8%;
  top: 84%;
  left: 84%;
}


/* mobile devices */
@media screen and (max-width: 768px) {
  body[data-nav="true"] > main {
    transform: translateX(250px);
  }

  body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  body[data-nav="true"] > nav > #nav-links {
    transform: translateY(0);
  }

  body[data-nav="true"] > #nav-toggle {
    background-color: rgb(85, 130, 149);
  }

  body:not([data-nav="true"]) > #nav-toggle:hover > .open {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  main {
    transition: transform 0.3s ease-in-out;
  }

  nav {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 250px;
    z-index: 1;
  }

  section {
    height: calc(100% - 50px);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 0.5rem;
    transform: translateY(-50%);
  }

  #nav-links > .nav-link {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  #nav-links > .nav-link > .nav-link-image {
    width: 24px;
    height: 24px;
    max-width: none;
    margin-right: 0.5rem;
    opacity: 0;
  }

  #nav-links > .nav-link > .nav-link-label {
    font-size: 1rem;
  }

  #nav-toggle {
    bottom: 1rem;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
  }

  #nav-toggle > i {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 24px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  #nav-toggle:active {
    transform: translate(-50%, -50%) scale(0.9);
  }

  #nav-toggle:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  h1 {
    background-image: linear-gradient(200deg,
     rgb(138, 170, 229) 35%,
     rgb(229, 166, 248) 0%,
     rgb(252, 231, 125) 60%,
     rgb(255, 98, 103) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 7vw;
    position: absolute;
    z-index: 10000;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #wrapper {
    aspect-ratio: 1.6;
    position: relative;
    width: 75vw;
  }

  #wrapper > .shape {
    background-color: var(--bg-color);
    height: 30%;
    position: absolute;
    transition: border-radius, height, left, top, width;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
    width: 30%;
  }

  #projectXYZ {
    flex-direction: column;
    gap: 2vw;
  }

  #screen {
    width: 95%;
    margin: 0 auto;
  }
  
  .screen1,
  .screen2,
  .screen3 {
    width: 100%;
  }

  #gallery {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  
  .tile {
    transition: transform 800ms ease;
  }
  
  .tile:hover {
    transform: scale(1.1);
  }
  
  .tile:hover > img {
    opacity: 1;
    transform: scale(1.01);
  }
  
  .tile > img {
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
    width: 100%;
  }
  
  .tile:nth-child(1) {
    background-color: rgb(138, 170, 229);
    grid-area: A;
  }
  
  .tile:nth-child(2),
  .tile:nth-child(3) {
    display: none;
  }
  
  .tile:nth-child(4) {
    background-color: rgb(238, 164, 127);
    grid-area: B;
  }
  
  .tile:nth-child(5) {
    background-color: rgb(255, 98, 103);
    grid-area: C;
  }
  
  .tile:nth-child(6) {
    background-color: rgb(252, 231, 125);
    grid-area: D;
  }
  
  .tile:nth-child(7) {
    background-color: rgb(226, 209, 249);
    grid-area: E;
  }
  
  .tile:nth-child(8) {
    background-color: rgb(49, 119, 115);
    grid-area: F;
  }
  
  .tile:nth-child(9) {
    background-color: rgb(138, 170, 229);
    grid-area: G;
  }
  
}