body{
    color: rgb( 20, 20, 20 );
    color: rgb( 229, 166, 248 );
    color: rgb( 0, 83, 156 );
    color: rgb( 238, 164, 127 );
    color: rgb( 255, 98, 103 );
    color: rgb( 252, 231, 125 );
    color: rgb( 226, 209, 249 );
    color: rgb( 49, 119, 115 );
    color: rgb( 138, 170, 229 );
    }